Repository PavelMelnik94/boilerplate-frontend-2025, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, bug, enhancement, dependencies, tests, config, ci, styles, refactor

.github/labeler.yml:

documentation:
  - any: ['docs/**/*', '**/*.md']

bug:
  - any: ['src/**/*.ts', 'src/**/*.tsx']

enhancement:
  - any: ['src/**/*']

dependencies:
  - any: ['package.json', 'pnpm-lock.yaml', 'yarn.lock', 'package-lock.json']

tests:
  - any: ['tests/**/*', 'src/**/*.test.ts', 'src/**/*.test.tsx']

config:
  - any: ['*.yml', '*.yaml', '.github/**/*']

ci:
  - any: ['.github/workflows/**/*']

styles:
  - any: ['src/**/*.css', 'src/**/*.scss', 'src/**/*.sass']

refactor:
  - any: ['src/**/*.ts', 'src/**/*.tsx']

refactor main.ts: reorganize imports for better clarity and consistency
  src/main.ts
Labels: enhancement

refactor CI workflow: streamline branch specifications and update Node.js version matrix
  .github/workflows/ci.yml
Labels: ci

test: husky setup
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
Labels: none

chore: update husky configuration for v10 compatibility
  .gitattributes
Labels: none

test: lint-staged configuration
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.json
  src/test.ts
Labels: enhancement

test: lint-staged configuration
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  src/main.ts
  src/test.ts
  src/vite-env.d.ts
  src/vite-environment.d.ts
  tsconfig.json
  tsconfig.node.json
Labels: enhancement

chore: update ESLint and TypeScript configurations for improved compatibility and coverage
  eslint.config.js
  package.json
  tsconfig.json
  tsconfig.node.json
Labels: none

chore: enhance linting and styling configurations, add stylelint ignore file, and update PostCSS settings
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc
  .stylelintrc.json
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/style.css
  stylelint-report.json
  tsconfig.json
Labels: enhancement

chore: update stylelint configuration for improved rule organization and clarity; enhance CSS styles with consistent formatting
  .stylelintrc.json
  package.json
  src/style.css
Labels: enhancement

chore: update VSCode settings for improved formatting and linting support; configure default formatters and validation for various file types
  .vscode/settings.json
Labels: none

chore: remove unused SVG and TypeScript files to clean up the project
  public/vite.svg
  src/counter.ts
  src/test.ts
  src/typescript.svg
Labels: enhancement

chore: update TypeScript and PostCSS configurations; enhance ESLint settings and add test setup
  .lintstagedrc.json
  .stylelintrc.json
  eslint.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/main.ts
  src/style.css
  src/test/setup.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Labels: enhancement

feat: add calc function for addition and implement unit tests
  .husky/pre-commit
  package-lock.json
  package.json
  src/main.test.ts
  src/main.ts
  tsconfig.json
Labels: enhancement

chore: enhance Vite configuration with detailed comments and structured build settings
  vite.config.ts
Labels: none

chore: update VSCode settings and package.json for improved linting and dependency management
  package.json
Labels: none

chore: update VSCode settings for ESLint integration and adjust TypeScript target to ES5
  .vscode/settings.json
  eslint.config.js
  tsconfig.json
Labels: none

chore: enhance lint-staged configuration to include type-checking for TypeScript files
  .lintstagedrc.json
Labels: none

chore: bump version to 0.1.0 and remove analyze script from package.json
  package.json
Labels: none

chore: update CI workflow to use 'test:run' script for testing
  .github/workflows/ci.yml
Labels: ci

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

chore: update TypeScript configuration to target ES2020 and improve formatting
  tsconfig.json
Labels: none

chore: update ESLint and TypeScript configurations for improved linting and type checking
  eslint.config.js
  tsconfig.json
Labels: none

chore: bump version to 0.1.2 in package.json and package-lock.json
  package-lock.json
  package.json
Labels: none

chore: refine ESLint and TypeScript configurations for consistency and clarity
  eslint.config.js
  tsconfig.json
Labels: none

feat: add createEl function and corresponding tests; rename main.test.ts to calc.test.ts
  src/calc.test.ts
  src/create-element.test.ts
  src/main.ts
Labels: enhancement

chore: update TypeScript configurations to skip library checks and add node-specific config
  package.json
  tsconfig.json
  tsconfig.node.json
Labels: none

chore: bump version to 0.1.3 in package.json
  package.json
Labels: none

chore: reorganize devDependencies in package.json for clarity and consistency
  package-lock.json
  package.json
Labels: none

chore: update version to 0.1.4 and add stylelint validation for CSS and SCSS in VSCode settings
  .vscode/settings.json
  package.json
Labels: none

chore: update version to 0.1.5 and enhance stylelint configuration for SCSS files
  .stylelintrc.json
  package.json
Labels: none

chore: bump version to 0.1.6 and reorganize styles into separate files
  package.json
  src/main.ts
  src/style.css
  src/styles/index.css
  src/styles/mapper.scss
  src/styles/reset.css
  src/styles/variables.css
Labels: enhancement

chore: bump version to 0.2.0 in package.json
  package.json
Labels: none

Update README.md
  README.md
Labels: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: none

Create dependabot.yml
  .github/dependabot.yml
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Update CI workflow permissions for improved pull request handling
  .github/workflows/ci.yml
Labels: ci
